# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Data and training outputs
archive.zip
data/
yolo_dataset/
yolo_damage_seg_dataset/
runs/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Frontend
frontend/node_modules/
frontend/.next/

# Backend
backend/__pycache__/
